* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border:1px solid #000;
    margin:80px auto;
    width:900px;
    height:260px;
    padding:10px;
    background-color:#fff;
}
.flex-item {
	padding:10px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    border:1px solid #000;
    margin:auto;
    transition:color .5s ease-in .5s;
    background-color:#fff;
}
.flex-container1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border:1px solid #000;
    width:420px;
    height:200px;

}
.flex-container2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border:1px solid #000;
    width:180px;
    height:150px;

}
.flex-container3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border:1px solid #000;
    width:60px;
    height:100px;

}

.btn{
	display:inline-block;
	background:tomato;
	color:#fff;
	width:100px;
	height:40px;
	text-decoration:none;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	line-height:40px;
}