*{box-sizing: border-box;}
body{background-color: #dedede;font: Tahoma, Helvetica, Arial, "宋体", sans-serif;}
body,ul,li{margin: 0;padding: 0;}
/*页头*/
header{background-color: #333;}
header ul {float:right;margin-right: 20px;}
header ul li{float: left;margin-left: 25px;line-height: 60px;height:60px;}
header ul li.cur a{ color:#999; }
header ul li a{color:#fff;text-decoration: none;}
header img{margin: 11px 40px;}
/*正文*/
article,aside{background-color: #fff;margin: 25px;padding:25px;border:1px solid #cbcbcb;}
h3{color:#666;}
.description{color:#666;font-size: 13px;}
p{line-height: 1.8;font-size: 15px;text-indent:32px;}
.list-item{list-style: none;margin: 15px 0;}
.list-item li{margin: 8px 0;}
figure{border: 1px solid #dedede;padding:10px;width:248px;}
figcaption{text-align: center;margin-bottom: 10px;}
table{ border:1px solid #dedede; width:100%;text-align:left;border-collapse:collapse;border-spacing:0;}
th{background-color: #000;color:#fff; }
th,td{border:1px solid #dedede;padding:5px;}
caption{text-align: left;}
tfoot th{background-color: #ccc;color:#000;}
aside{padding-top:5px; }
aside h3{color:#000;border-left:3px solid #dedede;padding: 5px 10px;}
.row{margin-left: 320px;margin-bottom: 10px;font-size: 14px;}
.row label {width: 100px;text-align: right;float: left;}
.row input,.row select,.row textarea{margin-left: 10px;}
.error{margin-top: 10px;color:#999;font-size: 13px;margin-left: 110px;}
button{width: 100%;color: #fff;background-color: #3355D0;border-radius:5px;padding:10px 0;margin-top: 10px;font-size: 14px;font-weight: bold;border:1px solid #3355D0;}
/*页尾*/
footer{line-height:80px;color:#fff;background-color: #000;text-align: center;}
footer p{line-height:80px;margin: 20px auto;}